In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("fundamental_analysis_version2.csv")
df.head()

,Unnamed: 0,Average Daily Returns,Beta Alpha,Sharpe Ratio,Piotroski F-Score,Revenue Growth,Earning per Share,Price to Earning,Debt to Equity,Free Cash Flow,Return on Equity,Dividend Yield
0,AALI.JK,-0.000030,"{'beta': array([0.035]), 'alpha': array([-0.])}",-0.03,"{'net_income': 833090000000.0, 'roa': 0.029987...",-22.674920,432.843720,15.479028,0.213574,NaN,4.442556,133.698119
1,ABBA.JK,0.001393,"{'beta': array([-0.047]), 'alpha': array([0.00...",0.45,{'op_revenue_v_net_income_margin': 20350412351...,-6.034069,-11.406883,-4.470985,-20.456808,NaN,458.951936,0.000000
2,ABDA.JK,0.000081,"{'beta': array([-0.006]), 'alpha': array([0.])}",0.07,"{'net_income': 138203753000.0, 'roa': 0.055777...",15.041351,3906.974495,1.279763,0.000000,NaN,9.963071,NaN
3,ABMM.JK,0.001542,"{'beta': array([0.138]), 'alpha': array([0.001])}",0.73,{'op_revenue_v_net_income_margin': 642066803.0...,-40.656829,-0.012952,-282578.907036,5.803908,NaN,-19.281866,20.048411
4,ACES.JK,-0.000341,"{'beta': array([0.039]), 'alpha': array([-0.])}",-0.21,"{'net_income': 733195452445.0, 'roa': 0.101596...",13.286810,42.825836,19.497576,0.163593,NaN,13.764517,27.131018

In [5]:
df.isna().sum()

Unnamed: 0                 0
Average Daily Returns     10
Beta Alpha               235
Sharpe Ratio              50
Piotroski F-Score          0
Revenue Growth           330
Earning per Share        336
Price to Earning           0
Debt to Equity             0
Free Cash Flow           868
Return on Equity         320
Dividend Yield            95
dtype: int64

In [7]:
df['Piotroski F-Score'][0]

"{'net_income': 833090000000.0, 'roa': 0.0299875120724492, 'op_revenue_v_net_income_margin': 17973953000000.0, 'current_ratio': 0.30716554640793275}"

In [8]:
piotroski = pd.DataFrame(df['Piotroski F-Score'])
piotroski.head()

                                   Piotroski F-Score
0  {'net_income': 833090000000.0, 'roa': 0.029987...
1  {'op_revenue_v_net_income_margin': 20350412351...
2  {'net_income': 138203753000.0, 'roa': 0.055777...
3  {'op_revenue_v_net_income_margin': 642066803.0...
4  {'net_income': 733195452445.0, 'roa': 0.101596...

In [9]:
data = [
    {'net_income': 833090000000.0, 'roa': 0.029987},
    {'op_revenue_v_net_income_margin': 20350412351, 'roa': 0.055777},
    {'net_income': 138203753000.0, 'roa': 0.055777},
    {'op_revenue_v_net_income_margin': 642066803.0, 'roa': 0.101596},
    {'net_income': 733195452445.0, 'roa': 0.101596}
]

df = pd.DataFrame(data)
print(df)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [12]:
data = df['Piotroski F-Score'].to_list()
df2 = pd.DataFrame(data)

df2.head()

                                                   0
0  {'net_income': 833090000000.0, 'roa': 0.029987...
1  {'op_revenue_v_net_income_margin': 20350412351...
2  {'net_income': 138203753000.0, 'roa': 0.055777...
3  {'op_revenue_v_net_income_margin': 642066803.0...
4  {'net_income': 733195452445.0, 'roa': 0.101596...